/* make custom variables which can now animate after applying @property to the var */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
div {
  background: conic-gradient(
    from var(--gradient-angle), #865dff, #e384ff, #865dff}
}
